@using KCSystem.Core.Entities
@model object

@{
    ViewBag.Title = "首页";
    Layout = "_Layout_Form";
}
<link href="~/css/homeIndex.css" rel="stylesheet" /> 
<style>
    body {
        background: #f4f7fc !important;
    }
    .pull-right.pagination-detail {
        display: none;
    }
</style>
<div class="homeIndex">
    <div class="layout">
        <div class="layout-content" style="height: 100%;">
            <div class="content-wrapper" style="margin-left: 0">
               
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
       

        

    </script>
}
