@{
    ViewBag.Title = "系统用户";
    Layout = "_Layout_List";
}

    <div class="fx-content">

        <div class="fx-wrapper">
            <form class="form-inline" id="searchForm" onsubmit="return false;">
                <div class="form-group">

                    <input type="text" class="form-control input-sm" name="keyword" placeholder="姓名/账户">
                    <input type="hidden" class="form-control input-sm" name="Disabled" value="false">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                        @*<i class="glyphicon glyphicon-search"></i>*@
                        查询
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnReflash">
                        @*<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>*@
                        刷新
                    </button>
                </div>

            </form>
        </div>
        <div id="toobar"  class="clearfix">
            <div class="toobar-txt">用户列表</div>
            <div class="btn-group btn-group-sm toobar-btn">
                @if (User.HasClaim("用户管理", "编辑"))
                {
                    <button onclick="openForm('', '添加用户数据');" type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        添加
                    </button>
                }
                @if (User.HasClaim("用户管理", "删除"))
                {
                    <button onclick="deleteData();" type="button" class="btn btn-primary btn-sm" aria-label="Right Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        删除
                    </button>
                }


            </div>
        </div>
        <div class="fx-wrapper table-bodys">
            <table id="dataTable" class="table-bordered"></table>
        </div>
    </div>
<script src="~/Scripts/vendor/layui/layui.js"></script>
<script>

    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
        layui.use('upload', function () {
            var $ = layui.jquery
            upload = layui.upload;

            upload.render({
                elem: '#upload',
                field: "docfile"
                , url: 'Users/uploadExp'
                , accept: 'file' //普通文件
                , exts:'xlsx|xls'
                , done: function (res) {
                    if (!res.result) {
                        layer.msg(res.msg);
                        return;
                    }
                    location.reload();
                    console.log(res)
                }
            });
        })
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '@Url.Action("GetDataList")',
            idField: 'Id',
            pagination: true,
            height: tableHeight,
            method: 'post',
            clickToSelect: false,
            detailView: false, //父子表
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '38px' },
                { title: '用户名', field: 'userName', width: '100px' },
                { title: '真实姓名', field: 'realName', width: '100px' },
                { title: '部门', field: 'department', width: '100px' },
                { title: '电话', field: 'phone', width: '100px' },
                { title: '角色', field: 'roleName', width: '100px' },
                { title: '上级领导', field: 'leard', width: '100px' },
                {
                    title: '添加时间',
                    field: 'addTime',
                    width: '120px',
                    formatter: function(value, row) {
                        return new Date(value).format("yyyy年MM月dd日");
                    }
                },
                {
                    title: '操作',
                    field: '_',
                    width: '150px',
                    formatter: function(value, row) {
                        var builder = new BtnBuilder();
                         {
                            @if (User.HasClaim("用户管理", "编辑"))
                            {
                                <text>
                                    builder.AddBtn({
                                        name: "编辑",
                                        icon: 'glyphicon-edit',
                                        function: 'openForm',
                                        param: [row["id"], "修改用户"]
                                    });
                                </text>
                            }
                            @if (User.HasClaim("用户管理", "删除"))
                            {
                                <text>
                                    builder.AddBtn({
                                        name: "删除",
                                        icon: 'glyphicon-trash',
                                        function: 'deleteData',
                                        param: [row['id']]
                                    });
                                </text>
                            }
                            @if (User.HasClaim("用户管理", "重置密码"))
                            {
                                <text>
                                    builder.AddBtn({
                                        name: "重置密码",
                                        icon: 'glyphicon-edit',
                                        function: 'EditPasswordForm',
                                        param: [row["id"], "重置密码"]
                                    });
                                </text>
                            }
                        }

                        return builder.build();
                    }
                }
            ],
            queryParams: function(params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title, width: '768px',
            height: '600px',
            btn: [id === '' ? "添加" : "编辑", '取消'],
            url: '/Users/Add/{0}'.format(id || ''),
            yes: function(window, body) {
                window.submitForm();
            },
            end: function() {
                $table.bootstrapTable('refresh');
            }
        });
    }

    //打开表单
    function EditPasswordForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            url: '/Users/ChangePassword/{0}'.format(id || ''),
            yes: function(window, body) {
                window.submitForm();
            },
            end: function() {
                $table.bootstrapTable('refresh');
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？',
            function() {
                var ids = [];

                if (typeof (id) == 'string') { //单条数据
                    ids.push(id);
                } else { //多条数据
                    var rows = $table.bootstrapTable('getSelections');
                    if (rows.length === 0) {
                        dialogError('请选择需要删除的数据！');
                        return;
                    } else {
                        $.each(rows,
                            function(index, value) {
                                ids.push(value['id']);
                            });
                    }
                }

                loading();
                $.getJSON('@Url.Action("DeleteData")', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.msg);
                }
            });
        });
    }
</script>

